<div class="main-container">

  <div class="container-promise">
    <h2>Promise</h2>
    <button (click)="getAlumnosPromise()">Promise</button>
       <div *ngFor="let user of alumnosPromise" class="card">
        <div *ngIf="user.Genero=='Masculino'; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><img src="https://cdn2.iconfinder.com/data/icons/avatars-2-7/128/20-512.png"/></ng-template>
        <ng-template #elseBlock><img src="https://cdn2.iconfinder.com/data/icons/avatars-2-7/128/27-512.png"/> </ng-template>
        <div class="card-body">
          <h5 class="card-title">{{user.Nombre+' '+user.Apellidos}}</h5>          
        </div>
      </div>
  </div>
  
  <div class="container-observable">
    <h2>Observable</h2>
    <button (click)="getAlumnosObservable()">Observable</button>
    <div *ngFor="let user of alumnosObservable" class="card">
      <div *ngIf="user.Genero=='Masculino'; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock><img src="https://cdn2.iconfinder.com/data/icons/avatars-2-7/128/20-512.png"/></ng-template>
      <ng-template #elseBlock><img src="https://cdn2.iconfinder.com/data/icons/avatars-2-7/128/27-512.png"/> </ng-template>
      <div class="card-body">
        <h5 class="card-title">{{user.Nombre+' '+user.Apellidos}}</h5>          
      </div>
    </div>
  </div>
  
  <div class="container-observable-pipe">
    <h2>Observable Pipe 4 segundos</h2>
    <pre></pre>
    <div *ngFor="let user of alumnosObservablePipe | async" class="card">
      <div *ngIf="user.Genero=='Masculino'; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock><img src="https://cdn2.iconfinder.com/data/icons/avatars-2-7/128/20-512.png"/></ng-template>
      <ng-template #elseBlock><img src="https://cdn2.iconfinder.com/data/icons/avatars-2-7/128/27-512.png"/> </ng-template>
      <div class="card-body">
        <h5 class="card-title">{{user.Nombre+' '+user.Apellidos}}</h5>          
      </div>
    </div>
  </div>
  <div class="container-filtered">
    <h2>Observable</h2>
    <button (click)="getFilteredAlumnos()">Promise Filtro (Ejecutar primero el boton de promise)</button>
    <div *ngFor="let user of alumnosFiltered" class="card">
      <div *ngIf="user.Genero=='Masculino'; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock><img src="https://cdn2.iconfinder.com/data/icons/avatars-2-7/128/20-512.png"/></ng-template>
      <ng-template #elseBlock><img src="https://cdn2.iconfinder.com/data/icons/avatars-2-7/128/27-512.png"/> </ng-template>
      <div class="card-body">
        <h5 class="card-title">{{user.Nombre+' '+user.Apellidos}}</h5>          
      </div>
    </div>
  </div>
</div>
